.app{
background-color:white;
width: 100%;
height: 100vh;
justify-content: center;
display: flex;
align-items: center;
}
.log-div{
    background-color:#f1f8e9;
    height: 350px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.signup-div{
    background-color:#eeeeee;
    width: 450px;
    height: 600px;
    padding: 20px;
}

.nav-item1{
    display: flex;
    flex: 4;
}


.about-div-2{
 background-color:#f5f5f5; 
 width: 600px; 
 padding: 40px; 
}
.about-flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding-left: 60px;
    padding-right: 60px;
}




/* #Help me page styling code */
.helpme-div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.helpme-item1{
    height: 150px;
    width: 200px;
    background-color:white;
    margin-right: 10px;
    border-radius: 5px;
}
.helpme-item2{
    height: 150px;
    width: 250px;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
}
.helpme-dashboard{
    background-color: #bdbdbd;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 900px;
    height: 650px;
}

.helepme-head{
    background-color:#3f51b5;
    color: white;
    width:100%;
    height:60px;
    align-items:center;
    justify-content:center;
    display:flex;
    border-radius: 5px;
}
